<!--
Purpose:
  This is dialog for admin messages when click 'Admin Messages' button


-->
<div class="modal-body">
	<div class='admin-mess'>
	</div>
	<div class='admin-mess-input'>
		<input type='text' placeholder='Type your message here'/>
	</div>
</div>
<!--div class="modal-footer">
</div-->
<style>
	.modal {
		width:70% !important;
		left:10% !important;
	}	

	.admin-mess {
		height: 311px;
		border: 1px solid black;
		border-radius: 6px;
		background-color: white;
		margin-bottom: 17px;
	}

	.admin-mess-input input {
		width: 98%;
		border: 1px solid black;
		border-radius: 6px;
	}

	.modal-footer {
		display: none;
	}

	.modal-header {
		background-color: #cc0909;
		color: white;		
		text-align: center;
		padding: 1px 13px;
	}

	.modal-content {
		background-color: #e4e5e9;
		border: 1px solid white;
	}

	.modal-body{
		padding: 5px;
	}

	.modal-header  button.close {
		margin-top: 10px;
		background-color: #e4e5e9;
		opacity: 1;
		font-size: 39px;
		color: #cc0909;
		height: 40px;
		width: 40px;
		border-radius: 8px;
	}
</style>