<!--
Purpose:
  This is region of top header in the main page.


-->


<div class='logo'>(CF) CamFly</div>
<div class='earning'> 
	Earnings :
	<button class="btn btn-default" ng-click="openEarning()">$254.78</button>
</div>
<div class='buttons'>
	<button class="btn" ng-click="open()">?</button>
	<button class="btn" ng-click="openSetting()">Setting</button>
	<button class="btn" ng-click="openTips()">Tips</button>
	<button class="btn" ng-click="openAdminMessages()">Admin Messages</button>
	<button class="btn" ng-click="open()">Online</button>
</div>